<<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="LodgeVac">
	<meta name="author" content="">
	<title>LodgeVac</title>
    <link rel="icon" type="image/png" href="assets\images\icon.png">

    <script src="https://kit.fontawesome.com/250b502dca.js" crossorigin="anonymous"></script>
    <link rel="favicon" href="assets/images/favicon.png">
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css"> 
	<link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen"> 
	<link rel="stylesheet" href="assets/css/style.css">
    <link rel='stylesheet' id='camera-css'  href='assets/css/camera.css' type='text/css' media='all'> 
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
        <style>
        .container {
            text-align: center;
        }
        .content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            margin-top: 20px;
        }
        img {
            max-width: 50%;
            height: auto;
            vertical-align: middle;
        }
        .description {
            text-align: center;
            margin: 20px;
            max-width: 80%;
            font-size: 18px; /* Augmenter la taille du texte */
        }
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
        }
        #confirmation {
            display: none;
            color: green;
            font-weight: bold;
            margin-top: 20px;
        }
    </style>
</head>
<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand" href={{ url_for('home') }}>
                    <div class="logo">
                        <i class="fa-solid fa-house" style="color: #880c0c;"></i>
                        LodgeVac
                    </div>
                </a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li class="active"><a href={{ url_for('home') }}>Home</a></li>
					<li ><a href={{ url_for('about') }}>About</a></li>
					<li><a href={{ url_for('houses') }}>Houses</a></li>
					<li><a href={{ url_for('contact') }}>Contact</a></li>
                    <li><a href={{ url_for('login') }}><button type="button"  class="btn btn-default">Login</button></a></li>
                    <li><a href={{ url_for('signup') }}><button type="button"  class="btn btn-default" >Sign-up</button></a></li>
					<li ><a href={{ url_for('profile') }}><button type="button"  class="btn btn-default" >profile</button></a></li>

				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

    <div class="container">
        <div class="content">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQi3e7ks1xg0HODWqlE-jJAPNjVA7dK02v3FsNZS4KT3KO6Imo&s" alt="Maison à réserver">
            <div class="description">
                <p><strong>Adresse :</strong> Chemin des Dunes, Agadir, Maroc</p>
                <p><strong>Prix :</strong> 2500 dirhams par nuit.</p>
                <p><strong>Description :</strong> Perchée sur une colline surplombant l'océan Atlantique, la Villa Ocean View offre une vue panoramique spectaculaire depuis ses terrasses ensoleillées. Avec ses cinq chambres spacieuses, son design contemporain et son accès facile aux plages et aux attractions locales, elle constitue le refuge idéal pour des vacances balnéaires de luxe à Agadir.</p>
            </div>
            <button class="button" onclick="afficherConfirmation()">Réserver</button>
            <p id="confirmation">Votre réservation est faite avec succès.</p>
        </div>
    </div>
      
    	 
    <footer id="footer">
		<div class="container">
			<div class="social text-center">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-flickr"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>

			<div class="clear"></div>
			<!--CLEAR FLOATS-->
		</div>
		
	</footer>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
    <script>
        function afficherConfirmation() {
            document.getElementById("confirmation").style.display = "block";
        }
    </script>

	<script src="assets/js/modernizr-latest.js"></script> 
	<script type='text/javascript' src='assets/js/jquery.min.js'></script>
    <script type='text/javascript' src='assets/js/fancybox/jquery.fancybox.pack.js'></script>
    
    <script type='text/javascript' src='assets/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='assets/js/jquery.easing.1.3.js'></script> 
    <script type='text/javascript' src='assets/js/camera.min.js'></script> 
    <script src="assets/js/bootstrap.min.js"></script> 
	<script src="assets/js/custom.js"></script>
    <!--<script>
		jQuery(function(){
			
			jQuery('#camera_wrap_4').camera({
				height: '600',
				loader: 'bar',
				pagination: false,
				thumbnails: false,
				hover: false,
				opacityOnGrid: false,
				imagePath: 'assets/images/'
			});

		});
	</script>-->
    
</body>
</html>


    
